.Ladoalado{
    display: flex;
    background-color: rgba(81, 170, 151, 0.418);
    padding: 15px;
    margin: 30px;
    align-items: center;    
    gap: 1rem;
    border-radius: 10px;
    max-width: 100%;
}
table {
    border: solid 2px;
    border-color: rgb(255, 255, 255);
    padding: 20px;
    background-color: rgb(6, 75, 80);
    color: white;
    max-width: 50%

}
footer{
    background-color: #260d61;
    height: 50px;
    color: aliceblue;
    justify-items: center;
    padding-top: 1%;
    margin-bottom: 0%;
}
img,iframe{
    max-width: 100%;
}
